body{
    margin: 0;
    padding: 0;
    width: 1280px;
    box-shadow: 0px 0px 5px grey;
}


.photo{
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 40px;
}
.photo img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;

}
.LUDOVIC{
    color: red;
    font-size: 55px;
}
.cvpage{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',sans-serif;
    font-size: 16px;  
}
.cvpartie-gauche{
    width: 400px;
    background-color: rgba(0, 60, 255, 0.541);
    text-align: justify;
    height: 100%;
}
.cvpartie-droite{
    width: calc(100% - 300px);
    text-align: justify;
    padding-left: 50px;
}

h1{
    font-size: 55px;
    padding-bottom: 20px;
    padding: 10px;
    padding-left: 20px;  
}
h2{
    font-size: 22px;
    background-color: red;
    text-align: center;
}
h3{
    font-size: 20px;
    border-bottom: 3px blue solid;
}
.icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 38px;
    text-align: center;
}
.description{
    font-size: 28px;
}

.poste{
    display: flex;
    font-size: 12px;
    font-style:  italic;
    text-align: justify;
}
.durée{
    font-size: 16px;
}
.lieu{
    font-size: 14px;
    text-align: justify;
    
}
.option{
    font-size: 14px;
}
u{

text-decoration: underline solid blue;
}
.autre-infos{
    font-size: 14px;
    text-align: justify;
}
.contact{
    padding-top: 30px;
}
 .info p{
     text-align: justify;
 }
 @media screen and (max-width: 1024px)
 { 
    .cvpage{
     width: auto;
     background-color: darkkhaki;
     text-decoration: dodgerblue;
    }
    .section p{
        width: auto;
        margin-bottom: 15px;
        text-align: left;
    }
    .photo{
        float:left;
        width: auto;

 
    }
 }
 .diplômes{
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     align-content: space-between;
     justify-content: space-evenly;
 }
 .diplôme{
     display: flex;
     justify-content: space-evenly;
     align-items: flex-end;
     align-content: flex-end;
     text-align: justify;
 }
 .expérience{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 .entreprises{
     display: flex;
     justify-content: flex-end;
     text-align: center;
     }

 .autre-infos{
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

 }




